* {
    padding: 0;
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    color: #ffffff;

}

#Container {
    width: 100%;
    height: auto;
    background-color: black;
}

#navbar {
    width: 100%;
    height: 100px;
    display: flex;
}

#navbar-left {

    width: 35%;
    height: 60px;
    padding-top: 40px;
    padding-left: 20px;
}

#navbar-left>p {
    font-weight: 900;
}

#navbar-right {

    width: 80%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

#navbar-right>div:nth-child(1) {
    width: 55%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}

#navbar-right>div:nth-child(2) {

    width: 15%;
    height: 60px;
    display: flex;
    padding-top: 40px;
    justify-content: space-evenly;

}

#navbar-left>p:nth-child(1) {
    display: none;
}

#navbar-right>i {

    display: none;
}

@media screen and (max-width:800px) {
    #navbar-left>p:nth-child(1) {
        display: contents;
    }

    #navbar-right>i {
        display: flex;
        padding-top: 40px;
        width: 15%;
        height: 60px;
    }

    #navbar-left>p:nth-child(2) {
        display: none;
    }

    #navbar-right>div:nth-child(1) {
        display: none;
    }

    #navbar-right>div:nth-child(2)>i {
        display: none;
    }
}

#main-body {
    width: 100%;
    height: auto;
}

#main {
    width: 100%;
    height: 650px;
    margin: auto;
}

#main>div:nth-child(1) {
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
}

#main>div:nth-child(1)>img {
    width: 100px;
    height: 100px;

}

#main>div:nth-child(2) {
    text-align: center;
    margin-top: 40px;
}

#main>div:nth-child(2)>p:nth-child(1) {
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 30px;
}

#main>div:nth-child(2)>p:nth-child(2) {
    font-weight: 400;
    font-size: 18px;
    width: 40%;
    margin: auto;
}

#main>div:nth-child(3) {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.button {
    height: 50px;
    width: 180px;
    font-size: 18px;
    border-radius: 25px;
    background-image: linear-gradient(to right, gray, white);
    border: none;
    outline: none;
    color: black;
}

#technologies {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
}

#technologies>div {
    width: 28%;
    height: 500px;
}

#technologies>div:nth-child(1)>p:nth-child(2) {
    font-size: 40px;
    width: 80%;
    font-weight: 200;

}

#technologies>div:nth-child(1)>p:nth-child(3) {
    font-size: 20px;
    margin-top: 140px;
    color: gray;
}

#technologies>div:nth-child(2) {
    background-image: url(https://mobirise.com/extensions/boldm5/tech-blog/assets/images/image6.jpg);
    background-size: 100% 100%;
    position: sticky;
}

#technologies>div:nth-child(3) {
    background-image: url(https://mobirise.com/extensions/boldm5/tech-blog/assets/images/image6.jpg);
    background-size: 100% 100%;
    position: sticky;
}

.tech-img {
    opacity: 0;
    width: 80%;
    height: 85%;
    margin: auto;
    margin-top: 40px;
    transition: 0.5s ease;
    background-image: linear-gradient(to right, gray, white);

}

#technologies>div:nth-child(2):hover .tech-img {
    opacity: 1;
}

#technologies>div:nth-child(2)>div:nth-child(1)>div {
    width: 15%;
    position: absolute;
    top: 180px;
    left: 25%;
}

#technologies>div:nth-child(3)>div:nth-child(1)>div {
    width: 15%;
    position: absolute;
    top: 180px;
    left: 28%;
}

#technologies>div:nth-child(3):hover .tech-img {
    opacity: 1;
}

.tech-img img {
    margin-top: 60px;
    height: 60%;
    width: 80%;
    margin-left: 30px;

}

.tech-img h3 {
    color: black;
    margin-left: 30px;
    margin-top: 10px;
    font-weight: 500;
}


@media screen and (max-width:900px) {
    #technologies>div:nth-child(1)>p:nth-child(2) {
        width: 40%;
    }

    #technologies {
        flex-wrap: wrap;
        margin-top: 200px;
    }

    #technologies>div:nth-child(1) {
        width: 90%;
        height: auto;
        margin-bottom: 40px;
    }

    #technologies>div:nth-child(1)>p:nth-child(3) {
        margin-top: 20px;
    }

    #technologies>div:nth-child(2) {
        width: 45%;
    }

    #technologies>div:nth-child(3) {
        width: 45%;
    }
}

@media screen and (max-width:700px) {
    #technologies {
        margin-top: 250px;
    }

    #technologies>div:nth-child(2) {
        width: 90%;
        margin-bottom: 30px;
    }

    .tech-img {
        margin-left: 20px;
        width: 85%;
    }

    .tech-img img {
        margin-left: 20px;
    }

    #technologies>div:nth-child(2)>div:nth-child(1)>div {
        width: 15%;
        position: absolute;
        top: 180px;
        left: 17%;
    }

    #technologies>div:nth-child(3)>div:nth-child(1)>div {
        width: 15%;
        position: absolute;
        top: 180px;
        left: 17%;
    }

    #technologies>div:nth-child(3) {
        width: 90%;
    }
}

#new-design {
    width: 100%;
    height: 200px;
    display: flex;
    margin-top: 150px;
}

#new-design>div:nth-child(1) {
    width: 60%;
    height: 200px;
}

#new-design>div:nth-child(1)>p {
    margin: 10px;
    font-size: 50px;
    font-weight: 500;
    margin: 45px 70px;
}

#new-design>div:nth-child(3) {
    /* border: 2px solid white; */
    width: 40%;
    height: 200px;
}

#new-design>div:nth-child(3)>p {
    margin: 45px 70px;
    font-size: 20px;
    color: gray;
}

@media screen and (max-width:900px) {
    #new-design {
        width: 100%;
        height: auto;
        flex-direction: column;
        text-align: left;
    }

    #new-design>div:nth-child(1) {
        width: 80%;
        height: auto;
        text-align: left;
    }

    #new-design>div:nth-child(1)>p {
        font-size: 30px;
        font-weight: 500;
        margin: 20px;
    }
    #new-design>div:nth-child(3) {
        width: 100%;
        height: auto;
        text-align: left;
    }
    #new-design>div:nth-child(3)>p {
        margin: 20px;
        font-size: 18px;
        color: gray;
    }

    #new-design>div:nth-child(2) {
        
        width: 90%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media screen and (max-width:700px) {
    #new-design>div:nth-child(1) {
        width: 100%;
        height: auto;
        text-align: left;
    }
}

* {
    padding: 0;
    margin: 0;
}

#our-website {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
}

#our-website>div {
    width: 15%;
    height: 250px;
    position: sticky;
}

#our-website>div>div {
    width: 100%;
    height: 125px;
    position: absolute;
    top: 125px;
    background-image: linear-gradient(0deg, #ffffff 0, rgba(255, 255, 255, 0) 100%);
    opacity: 0;
}
#our-website>div>img{
    object-fit: cover;
}
#our-website>div>div:hover {
    opacity: 0.8;
    transition: all 0.3s ease-out;
}

.ourweb-btn {
    height: 45px;
    width: 130px;
    font-size: 16px;
    border-radius: 25px;
    background-image: linear-gradient(to right, gray, white);
    color: black;
    /* margin-left: 20%; */
    position: absolute;
    left: 25%;
    border: none;
    outline: none;
}

#our-website>div:nth-child(1)>p {
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 25px;
}

#our-website>div:nth-child(1)>a {
    text-decoration: none;
    color: gray;
    font-size: 20px;
}

@media screen and (max-width:900px) {
    #our-website {
        width: 100%;
        height: auto;
        flex-wrap: wrap;
    }

    #our-website>div {
        width: 46%;
        height: 270px;
        margin: auto;
        margin-bottom: 20px;
    }

    #our-website>div>div {
        width: 100%;
        height: 135px;
        position: absolute;
        top: 135px;
        background-image: linear-gradient(0deg, #ffffff 0, rgba(255, 255, 255, 0) 100%);
    }

    #our-website>div:nth-child(1) {
        width: 100%;
        height: 110px;
        padding: 20px;
    }
    .ourweb-btn {
        position: absolute;
        left: 30%;
    }
}

@media screen and (max-width:700px) {
    #our-website {
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    #our-website>div {
        width: 90%;
        height: 270px;
        margin-right: 30px;
        margin: 20px;
        position: sticky;
    }
    #our-website>div:nth-child(1) {
        width: 90%;
        height: 110px;
    }
}

#popular-blog {
    margin-top: 180px;
    /* border: 2px solid white; */
    height: 250px;
    width: 100%;
}

#popular-blog>p {
    font-size: 70px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
}

#popular-blog>p:nth-child(1) {
    border-top: 0.1px solid rgb(78, 78, 78);
    border-bottom: 0.1px solid rgb(78, 78, 78);
}

#popular-blog>p:nth-child(2) {
    border-bottom: 0.1px solid rgb(78, 78, 78);
    text-align: right;
}

@media screen and (max-width:425px) {
    #popular-blog {
        width: 100%;
        height: auto;
    }

    #popular-blog>p {
        font-size: 35px;
    }
}

#product {
    /* border: 2px solid white; */
    height: 500px;
    width: 92%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 180px;
}

#product>div {
    height: 500px;
    width: 31%;
}

#product>div>img {
    width: 100%;
    height: 350px;
}

.title {
    margin-top: 10px;
}

.title>span {
    text-decoration: underline;
    font-size: 15px;
}

#product>div>p {
    font-size: 40px;
    margin-top: 10px;
}

.title>span:hover {
    text-decoration: none;
}

@media screen and (max-width:900px) {
    #product {
        /* border: 2px solid white; */
        width: 90%;
        height: auto;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    #product>div {
        height: 500px;
        width: 45%;
    }
    #product>div>p {
        font-size: 30px;
    }
}

@media screen and (max-width:700px) {
    #product {
        /* border: 2px solid white; */
        width: 90%;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #product>div {
        height: 500px;
        width: 100%;
        margin: auto;
    }
}

#news {
    height: 650px;
    display: flex;
    margin-top: 220px;
}

#news>div:nth-child(1) {

    height: 550px;
    width: 40%;
    text-align: center;
}

#news>div:nth-child(1)>p:nth-child(1) {
    font-size: 40px;
    width: 40%;
    margin: auto;
    margin-top: 100px;
}

#news>div:nth-child(1)>p:nth-child(2) {
    width: 70%;
    margin: auto;
    margin-top: 60px;
    font-size: 20px;
    color: gray;
}

#news>div:nth-child(2) {
    height: 550px;
    width: 60%;
}

@media screen and (max-width:900px) {
    #news {
        height: auto;
        flex-direction: column;
        margin-top: 30px;
    }

    #news>div:nth-child(1) {
        height: 400px;
        width: 100%    
    }
    #news>div:nth-child(1)>p:nth-child(1) {
        width: 40%;
        
    }

    #news>div:nth-child(2) {
        width: 100%;
        height: 420px;
        
    }
    #news>div:nth-child(2)>img{
        object-fit: cover;
    }  
}
@media screen and (max-width:700px){
    #news>div:nth-child(1) {
        height: 400px;
        width: 100%;
        margin-top: 30px;
    }
    #news>div:nth-child(1)>p:nth-child(1) {
        font-size: 30px;
        width: 40%;
        margin: auto;
        margin-top: 100px;
    }
    
    #news>div:nth-child(1)>p:nth-child(2) {
        width: 70%;
        margin: auto;
        margin-top: 60px;
        font-size: 15px;
        color: gray;
    }
}

#trans {
    width: 100%;
    height: 650px;
    position: relative;
}

#bgd-img>div:nth-child(1) {
    height: 650px;
    background-image: url(https://mobirise.com/extensions/boldm5/tech-blog/assets/images/background1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#bgd-img>div:nth-child(2) {
    height: 650px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    background-color: black;
}

#bgd-img>div:nth-child(3) {
    height: 650px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#bgd-img>div:nth-child(3)>p:nth-child(1) {
    font-size: 45px;
    color: white;
    margin-left: 60px;
    margin-top: 100px;
}

#bgd-img>div:nth-child(3)>p:nth-child(2) {
    width: 34%;
    font-size: 18px;
    margin-left: 60px;
    color: rgb(204, 202, 202);
    margin-top: 30px;
}

@media screen and (max-width:900px) {
    #trans {
        width: 100%;
        height: auto;
        position: relative;
        margin-top: 40px;
    }
    #bgd-img>div:nth-child(3)>p:nth-child(2) {
        width: 90%;
        font-size: 18px;
        margin-left: 60px;
        color: rgb(204, 202, 202);
        margin-top: 30px;
    }
}
@media screen and (max-width:700px){
    #bgd-img>div:nth-child(3)>p:nth-child(1) {
        font-size: 30px;
        color: white;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 100px;
    }
    #bgd-img>div:nth-child(3)>p:nth-child(2) {
        width: 90%;
        font-size: 18px;
        margin-left: 30px;
        margin-right: 30px;
        color: rgb(204, 202, 202);
        margin-top: 30px;
    }
}

#department {
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: space-evenly;
}

#department>div:nth-child(1) {
    width: 41%;
    height: 600px;
    margin: auto;
    margin-left: 70px;
}

#department>div:nth-child(1)>div {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid rgb(82, 82, 82);
    font-size: 45px;
    padding-top: 32px;
    padding-bottom: 12px;
}

#department>div:nth-child(1)>div:hover {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.945), gray 20%, rgba(0, 0, 0, 0.945)60%);
}

#department>div:nth-child(1)>div>a {
    text-decoration: none;
}

#department>div:nth-child(2) {
    width: 42%;
    height: 800px;
    margin: auto;
    margin-right: 70px;
}

#department>div:nth-child(2)>img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width:900px) {
    #department {
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    #department>div:nth-child(1){
        height: 450px;
        width: 80%;
        margin: auto;
    }
    #department>div:nth-child(1)>div {
        width: 100%;
        height: 40px;
        border-bottom: 1px solid rgb(82, 82, 82);
        font-size: 30px;
        padding-top: 32px;
        padding-bottom: 12px;
    
    }
    #department>div:nth-child(1)>div:hover {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.945) 1%, gray , rgba(0, 0, 0, 0.945)99%);
    }
    #department>div:nth-child(2) {
        width: 80%;
        height: 450px;
        margin: auto;
        margin-top: 20px;
    }
    #department>div:nth-child(2)>img {
        width: 100%;
        height: 100%;
    }
}


#feedback {
    width: 100%;
    height: 620px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

#feedback>div:nth-child(1) {
    width: 48%;
    height: 620px;
    position: relative;
}

#feedback>div:nth-child(1)>img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#feedback>div:nth-child(1)>div {
    border: 0cap2px solid white;
    width: 40%;
    height: 230px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 80px;
    background-color: black;
    padding: 100px;
}

#feedback>div:nth-child(1)>div>i {
    margin-bottom: 10px;
    color: gray;
}

#feedback>div:nth-child(1)>div>p {
    margin-bottom: 30px;
    font-size: 17px;
    color: gray;
}

#feedback>div:nth-child(1)>div>p:nth-child(3) {
    color: white;
}

#feedback>div:nth-child(2) {
    width: 43%;
    height: 600px;
    padding-top: 20px;
}

#feedback>div:nth-child(2)>p:nth-child(1) {
    font-size: 70px;
}

#feedback>div:nth-child(2)>p:nth-child(2) {
    font-size: 40px;
    margin-bottom: 180px;
}

#feedback>div:nth-child(2)>p:nth-child(3) {
    width: 70%;
    font-size: 20px;
    margin-bottom: 40px;
    color: gray;
}

@media screen and (max-width:900px) {
    #feedback {
        width: 100%;
        height: auto;
        margin-top: 60px;
        flex-direction: column;
    }

    #feedback>div:nth-child(1) {
        width: 100%;
        height: 320px;
    }

    #feedback>div:nth-child(1)>img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    #feedback>div:nth-child(1)>div {
        width: 85%;
        height: 65%;
        padding: 30px;
        margin: 20px 30px;
    }

    #feedback>div:nth-child(2) {
        width: 95%;
        height: auto;
        padding: 20px;
    }

    #feedback>div:nth-child(2)>p:nth-child(2) {
        margin-bottom: 20px;
    }

    #feedback>div:nth-child(2)>p:nth-child(3) {
        width: 100%;
    }
}

@media screen and (max-width:700px) {
    
    #feedback>div:nth-child(1)>div {
        width: 78%;
        height: 75%;
        padding: 20px;
        margin: 20px 20px;
    }
    #feedback>div:nth-child(1)>div>p {
        margin-bottom: 20px;
        font-size: 17px;
        color: gray;
    }
    #feedback>div:nth-child(2){
        margin-bottom:20px;
    }
    #feedback>div:nth-child(2)>p:nth-child(1) {
        font-size: 40px;
        margin-bottom: 10px;
    }
    
    #feedback>div:nth-child(2)>p:nth-child(2) {
        font-size: 20px;
        margin-bottom: 40px;
    }
   
}


#query {
    width: 100%;
    height: auto;
    margin-top: 160px;
    display: flex;
    justify-content: space-between;
}

#query>div:nth-child(1) {
    width: 43%;
    height: auto;
    padding-top: 60px;
}

.query-box{
    width: 80%;
    height: 54px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    /* border: 2px solid red; */
}
.query-ans{
    width: 60%;
    height: 54px;
    margin: auto;
    padding-top: 20px;
    padding-left: 90px;
    padding-right: 33px;
    border-top: 1px solid gray;
    color: gray;
    display: none;
}

.query-box:hover {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.945) , rgba(128, 128, 128, 0.939) 20.4%, rgba(0, 0, 0, 0.945));
}
.query-box:hover + .query-ans{
    display: block;
}
.triangle-down {
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 15px solid white;
}
#query>div:nth-child(2) {
    width: 52%;
    height: 510px;
}

#query>div:nth-child(2)>img {
    height: 100%;
    width: 100%;
}

@media screen and (max-width:900px) {
    #query {
        width: 100%;
        height: auto;
        margin-top: 60px;
        flex-direction: column-reverse;
    }
    
    #query>div:nth-child(1) {
        width: 100%;
        height: 450px;
        margin-top: 10px;
    }
    .query-box{
        width: 100%;
        height: 54px;
        display: flex;
        justify-content: space-around;
        text-align: center;
    }
    .query-ans{
        width: 80%;
        height: auto;
        border-top: 1px solid gray;
        color: gray;
        padding-left: 50px;
        padding-right: 20px;
    }
    #query>div:nth-child(2) {
        width: 100%;
        height: 400px;
    }
    
    #query>div:nth-child(2)>img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
}








#footer{
    width: 100%;
    height: 300px;
    margin-top: 130px;
    display: flex;
    justify-content: space-around;
}
.footer-box{
    width: 25%;
    height: 250px;
    padding-top: 50px;
    margin:0px 50px;
    font-size: 18px;
}
.footer-box>div:nth-child(1){
    width: 20%;
    height: 50px;
    margin-top: 10px;
}
.footer-box>div:nth-child(1)>img{
    width: 100%;
    height: 100%;
}
.footer-box>p{
    margin-top: 20px;
}
@media screen and (max-width:900px) {
    #footer{
        width: 100%;
        height: auto;
        flex-wrap: wrap;
    }
    .footer-box{
        width: 40%;
        height: 250px;
        margin: 0;
        padding-top: 0px;
        padding-left: 30px;
        font-size: 18px;
    }
}
@media screen and (max-width:700px) {
    #footer{
        width: 100%;
        height: auto;
        flex-direction: column;
        padding-bottom: 100px;
        margin-left: 50px;
    }
    .footer-box{
        width: 80%;
        height: auto;
        padding-top: 30px;
        padding-left: 0px;
        font-size: 15px;

    }
    .footer-box>div:nth-child(1){
        width: 20%;
        height: 50px;
        margin-top: 10px;
    }
}